/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 6em 0 3.5em;
}

body {
    font-size: 16px;
    /* svarer til 1em */
    line-height: 1.4;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

p {
    margin-bottom: 1em;
    /* kan også være padding-bottom */
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}



/* Nav bar */

.header-logo {
    width: 250px;
    height: 100px;
    margin: 0 auto;
}


nav {
    width: 100%;
    max-width: 1000px;
    z-index: 100;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
}

/* links */
a {
    text-decoration: none;
    color: black;
}

/* links END */

.menu-items li {
    padding-left: 30px;
    min-width: 5em;
}

.menu-items li img {
    width: 150px;

}

.menu-items {
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
    height: 60px;
    list-style-type: none;
    align-items: center;
}

.menu-items a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.menu-items a:hover,
.active {
    color: red;
    font-weight: bold;
}


/* Nav bar END */




/* Menu  */

#burger {
    display: none;
    justify-content: start;
    cursor: pointer;
    color: #e5e5e5;
    font-size: 1em;

}



/* Font Style */

h2 {
    font-weight: 700;
    font-size: 44px;
    font-family: 'Inter', sans-serif;
}

/* Font Style END*/


/* Content */



.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.row figure {
    max-width: 225px;
}

.row,
.lower-section,
.flex {
    max-width: 960px;
    margin: 0 auto;
    /* padding-bottom: 2em;
    padding-top: 5.56em; */
    /* padding: 5.5625em 20px; */
}

.left-section {
    max-width: 640px;
}

aside {
    max-width: 295px;
}

.left-section,
.lower-section,
.flex {
    padding-top: 0;
}


.row figure figcaption {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding-top: 1em;
}

aside .aside-h3 {
    color: #E30613;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
}

aside ul li {
    list-style: none;
    margin-top: 1em;
}

aside a {
    font-size: 22px;
}

.left-section {
    max-width: 640px;
    padding: 0 26px 19px 0;
}

.left-section p {
    font-size: 24px;
    max-width: 640px;
}


.flex aside hr {
    color: black;
    background-color: black;
}

/* Content END */

/* footer */
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}